<div class="row bg5 hero-image">
    <div class="col-sm-12 text-center hero-text ">
    <h2 class= "text-white">My Events</h2>
    <h5 class="text-white">celebrate everything  ... until further notice</h5>
    </div>
</div>

    <div class="row pl-4 pad-top d-flex justify-content-center mx-auto">
    {{#each events}}
            <div class="col-sm-3 section-light pt-3 mb-4 ">
                <form class="form text-right mx-auto" method="post" action="/updateEvent">
                  <input type="text" class="form-control" name="name" value="{{this.name}}" required>
                  <input type=hidden class="form-control" name='eventId' value={{this._id}} required>
                  <input type="date" class="form-control" name="date" value="{{this.date}}" min={{../min}}>
                  <input type="text" class="form-control" name="time" value="{{this.time}}" placeholder="Start Time" >
                  <input type='text' class="form-control" name="hours" value="{{this.hours}}"  placeholder="Number of Hours" >
                  <input type='text' class="form-control" name="guestCount" value="{{this.guestCount}}" placeholder="Guest Count" >
                  <select class="form-control" name="price" >
                        <option disabled selected>{{this.price}}</option>
                        <option>Open Bar</option>
                        <option>Minimum Spend</option>
                        <option> {{min}}</option>
                  </select>
                  <a href="/removeEvent?eventId={{this._id}}">
                      <button class="btn btn-yellow mt-2" type="submit" class="inline">Remove Event</button>
                  </a>
                  <button class="btn btn-primary mt-2" type="submit" class="inline">Update Event</button>
                 </form>

            </div>
            <div class="col-sm-2 section-light pt-3 mb-4 mr-4">
                <h5 class="section-subheading text-muted"><b>Venue Contact List</b></h5>
                {{#each this.vEvent}}
                    <p class="text-blue">{{this.name}}
                    <a href="/removeVenue?vEventId={{this._id}}&eventid={{../this._id}}">
                        <button class="btn-yellow" type="submit" name="removeVEvent">x</button>
                    </a></p>
                {{/each}}
            </div>
    {{/each}}
    </div>
