
<div class="row">
    <!-- Left Filter Sidebar -->
    <div class="col-md-7 col-12 pad-top">
            <form class="form-inline mx-auto mb-0 col-10 col-md-12 col-lg-10" method="post" action="/newSearch">
                <input type="text" name="type" class="form-control mr-2 mb-2" placeholder="Enter a keyword">
                <input type="text"  class="form-control mr-2 mb-2" name="location" id="autocomplete2" placeholder="Location">
                <button type="submit" class="btn btn-primary mb-2" >Search</button>
            </form>
            <!-- Pagination -->
            <div class="text-right mr-2 mb-2">
                {{#if venues}}
                <form class="inline" action="/venues?num=0" method="post"><button class="btn btn-transparent font15" type="submit">PAGE 1</button></form>
                {{/if}}
                {{#if page2}}
                <form class="inline" action="/venues?num=1" method="post"><button class="btn btn-transparent font15" type="submit">PAGE 2</button></form>
                {{/if}}
                {{#if page3}}
                <form class="inline" action="/venues?num=2" method="post"><button class="btn btn-transparent font15" type="submit">PAGE 3</button></form>
                {{/if}}
            </div>

    <!-- Venue Result Cards -->
        {{#if venues}}
            <div id="listCard" class="row section-light d-flex pb-5 pt-3 justify-content-around">
            {{#each venues}}
                <div class="card ml-1" style="max-width: 18rem;">
                    <img class="card-img-top" src='{{this.photo1}}' class="img-responsive" width="250px" alt="Card image cap">
                    <div class="card-block">
                        <form method="get" action="/venue">
                            <input type="hidden" name="name" value="{{this.name}}">
                            <input type="hidden" name="address" value="{{this.address}}">
                            <input type="hidden" name="placeId" value="{{this.placeId}}">
                            <input type="hidden" name="lat" value="{{this.lat}}">
                            <input type="hidden" name="lng" value="{{this.long}}">
                            <input type="hidden" name="phone" value="{{this.phone}}">
                            <input type="hidden" name="rating" value="{{this.rating}}">
                            <input type="hidden" name="hours" value="{{this.hours}}">
                            <input type="hidden" name="website" value="{{this.website}}">
                            <input type="hidden" name="photo1" value="{{this.photo1}}">
                            <input type="hidden" name="photo2" value="{{this.photo2}}">
                            <input type="hidden" name="photo3" value="{{this.photo3}}">
                            <input type="hidden" name="photo4" value="{{this.photo4}}">
                            <input type="hidden" name="photo5" value="{{this.photo5}}">
                            <input type="hidden" name="photo6" value="{{this.photo6}}">
                            <input type="hidden" name="photo7" value="{{this.photo7}}">
                            <input type="hidden" name="photo8" value="{{this.photo8}}">
                            <input type="hidden" name="photo9" value="{{this.photo9}}">
                            <input type="hidden" name="photo10" value="{{this.photo10}}">
                            <input class="btn-transparent font25" type="submit" value="{{this.name}}">
                        </form>
                        <h4 class="card-title"></h4></a>
                        <p class="card-text text-muted">{{this.address}}</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                        {{#if ../loggedin}}
                            <a href="/venues?placeId={{this.placeId}}"><button id="myVenues" class="btn btn-yellow" type="submit">Tag An Event</button></a>
                        {{else}}
                            <button class="btn btn-yellow attemptToTag" type="button" data-toggle="modal" data-target="#mod{{this.placeId}}">{{loggedin}}Tag An Event</button>
                        {{/if}}
                    </div>

                <!-- Modal to pick event -->
                <div class="viewVenues modal " style ={{this.modal}}>
                  <div class="modal-dialog" role="document">
                    <div class="modal-content pad-top pl-4">
                      <div class="modal-header">
                        <h5 class="modal-title text-blue"><b>My Events</b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <p>Add <b>{{this.name}}</b> to one of my existing event lists by clicking below or alternatively create a new event.</p>
                        <ul>
                            {{#each ../events}}
                            <li><a class="taggedEvent" href="/addVenue?eventId={{this._id}}&placeId={{../this.placeId}}&name={{../this.name}}"> {{this.name}} </a>
                                <a href="/removeEvent?eventId={{this._id}}"><button class="btn-yellow">x</button></a>
                            </li>
                            {{/each}}
                        </ul>
                      </div>
                      <div class="modal-footer">
                          <form class="form-inline" action="/addEvent?placeId={{this.placeId}}" method="post">
                             <div class="form-group-row">
                                <input type="text" name=event class="form-control" size="28" placeholder="Name your special event here">
                                <input type=hidden name=name value="{{this.name}}">
                                <button class="btn btn-primary inline" type="submit" name="button"> Add a new Event!</button>
                             </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal to remind user to login -->
                <div id="mod{{this.placeId}}" class="modal fade">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content pad-top pl-4">
                      <div class="modal-header">
                        <h5 class="modal-title text-blue"><b><a href="/login">Login</a></b></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <p>We'd love to save this venue for you, please <a href="/login">login</a> first.</p>
                      </div>
                    </div>
                  </div>
                </div>

                </div>
            {{/each}}
            </div>
        {{else}}
            <div class="col-lg-12 mr-4 mb-4 pad-top pl-5 mx-auto height">
                <h4 class="text-center text-blue vertMid"><b>Oh darn, seems like there are 0 results for that search.
                    <span class="fa fa-frown-o" aria-hidden="true"></span> Please try a different search!</b></h4>
            </div>
        {{/if}}
    </div>
    <div class="col-md-5 col-12 pl-0">
        <div id="map" class="map" ></div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdahZQdWGEqm9Nua80okO_R8UMWCjtuDc&sensor=false&libraries=places"></script>
<script src="/markerclusterer/src/markerclusterer.js"></script>

<script>
function initialize() {
    var center = new google.maps.LatLng({{venues.0.lat}}, {{venues.0.long}});

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: center
    });

    var markers = [
        {{#each venues}}
        {
            lat: {{this.lat}},
            lng: {{this.long}}
        },
        {{/each}}
    ];

    markers = markers.map(function(location) {
        return new google.maps.Marker({
            position: location
        });
    });
    var markerCluster = new MarkerClusterer(map, markers,
        {imagePath: '/markerclusterer/images/m'});
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <script>
    var input = document.getElementById('autocomplete2');
    var autocomplete = new google.maps.places.Autocomplete(input);
    </script>
