<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&libraries=places"></script>
<div class="results-page">
  <div>
    <h1 style='padding: 10px'>Best Venue Matches</h1>
    <div class="row center">
      <form id="form" method="post" action="/newSearch">
        <div class="input-field col s6">
          <select name="type">
            <option disabled selected>Choose your venue</option>
            <option>Bar</option>
            <option>Restaurant</option>
            <option>Night club</option>
            <option>Museum</option>
            <option>Library</option>
            <option>Art gallery</option>
          </select>
        </div>
        <div id="locationField" class="input-field col s6">
          <input type="text" name="location" id="autocomplete">
        </div>
        <div class="input-field col s6">
          <select name="radius">
            <option disabled selected>Choose your radius</option>
            <option value='5'>5 miles</option>
            <option value='10'>10 miles</option>
            <option value ='20'>20 miles</option>
          </select>
        </div>
        <button class="btn waves-effect waves-light brown" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </div>
  <div>
      {{#each events}}
        <p>{{this.name}}</p>
        {{#each this.venue}}
            <p>{{this.name}}</p>
        {{/each}}
      {{/each}}
  </div>
  <!-- use hbs #each to loop through results. just writing html for one result -->
  <form action="/venues" method="post">
    <button class="btn" type="submit" name="button">Next Page</button>
  </form>
  <ul class="list-group">
    {{#each venues}}
    <li class="list-group-item">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <a href="/venue?name={{this.name}}&address={{this.address}}"><h3>{{this.name}}</h3></a>
            <img src='{{this.link}}'>
          </div>
          <div class="col l6 s12">
            <ul>
              <li><b>Address: </b><a href="{{this.url}}">{{this.address}} </a></li>
              <li><b>Phone Number:</b> {{this.phone}} </li>
              <li><b>Rating:</b> {{this.rating}} </li>
              <li><b>Website:</b> <a href="{{this.website}}">{{this.website}} </a> </li>
              <li><b>Type:</b>
                <div style="padding: 5px">
                  {{#each this.type}}
                    <p>{{this}}</p>
                  {{/each}}
                </div>
              </li>
              <li><b>Hours:</b>
                <div style="padding: 5px">
                  {{#each this.hours}}
                    <p>{{this}}</p>
                  {{/each}}
                </div>
              </li>
            </ul>
          </div>
        </div>

         <a href="/?placeId={{this.placeId}}"><button id="myVenues" class="btn" type="submit" name="button">Tag to an Event</button></a>

         <!-- Modal to pick event -->
        <div class="viewVenues modal" style ={{this.modal}}>
          <div class="modal-content">
            <h3>Add {{this.name}} to one of your existing event lists?</h3>
            <ul>
             {{#each ../events}}
                <p>Venue PlaceId is {{../this.placeId}}</p>
                <p>Event Id is {{this._id}}
                  <li><a href="/addVenue?eventId={{this._id}}&venueId={{../this.placeId}}&name={{../this.name}}&dom={{../this.website}}"> {{this.name}} </a></li>
             {{/each}}
            </ul>
            <h3>Or add this venue to a new list?</h3>
            <form action="/addEvent?placeId={{this.placeId}}" method="post">
              <input type=text name=event placeholder="Name your special event here">
              <input type=hidden name=domain value={{this.website}}>
              <input type=hidden name=name value={{this.name}}>
              <button class="btn" type="submit" name="button"> Add a new Event!</button>
            </form>
            <span id="closeMod" class="close">&times;</span>
          </div>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>

  <form action="/venues" method="post">
    <button class="btn" type="submit" name="button">Next Page</button>
  </form>
</div>
  <script>
    var input = document.getElementById('autocomplete');
    var autocomplete = new google.maps.places.Autocomplete(input);
  </script>
