<div class="row-fluid">
    <div class="col-lg-12 col-md-10 ">
        <div class="cover-container">
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('{{this.photo1}}')"></div>
            <div class="cover-item" style="background-image: url('{{this.photo2}}')"></div>
            <div class="cover-item" style="background-image: url('{{this.photo3}}')"></div>
            <div class="cover-item" style="background-image: url('{{this.photo4}}')"></div>
            <div class="cover-item" style="background-image: url('{{this.photo5}}')"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 offset-2 pl-5">
        <h2 class="section-heading text-blue text-left pad-top">{{this.name}}</h2>
        <p><a href="{{this.website}}">{{this.website}} </a></p>
        <p>{{this.rating}} Rating {{this.phone}} </p>
        <form action="/cart?name={{this.name}}&address={{this.address}}" method="post">
            <button class="btn btn-primary" type="submit" name="button">Tag an Event</button>
        </form>
        <a href="/questionnaire">
            <button class="btn btn-yellow" type="submit" name="button">All set? Request Bids</button>
        </a>
    </div>
    <div class="col-sm-4 pad-top">
        <div class="row">
            <div class="section-light">
                <div id="venueMap"></div>
                <a href="{{this.url}}">{{this.address}} </a>
            </div>
        </div>
    </div>
</div>
<div class="row section-light">
        <div class="col-sm-2 sidebar pad-top">
            <p>contact list bar</p>
        </div>
        <div class="col-sm-6 pad-top">

        </div>
        <div class="col-sm-4 pad-top">
            <b>Hours:</b>
            <ul>
                <li>
                    <br></br>
                    <div style="padding: 5px; border-radius: 3px">
                        {{#each this.hours}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </li>
            </ul>
        </div>
</div>

<script>
function initMap() {
    var uluru = {lat: {{this.lat}}, lng: {{this.lng}} };
    var map = new google.maps.Map(document.getElementById('venueMap'), {
        zoom: 12,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7j6tBWnmcFm_nZOpXhX4rQSEGUAtxMC0&callback=initMap">
</script>
