<!-- PICTURE SCROLL -->
<div class="row">
    <div class="col-sm-12">
        <div class="cover-container">
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('{{temp.photo1}}')"></div>
            <div class="cover-item" style="background-image: url('{{temp.photo2}}')"></div>
            <div class="cover-item" style="background-image: url('{{temp.photo3}}')"></div>
            <div class="cover-item" style="background-image: url('{{temp.photo4}}')"></div>
            <div class="cover-item" style="background-image: url('{{temp.photo5}}')"></div>
        </div>
    </div>
</div>

<div class="row pad-top pl-5">
    <div class="col-lg-5 col-12">
        <h2 class="section-heading text-blue text-left">{{temp.name}}</h2>
        <h3 class="section-subheading text-muted">{{temp.company.twitter.bio}}</h2>
        <div class="row">
            <div class="col-2">
                <span class="fa fa-star" aria-hidden="true"><p class="inline">{{temp.rating}}/5.0 Rating</p></span>
            </div>
            <div class="col-5">
                <span class="fa fa-link break" aria-hidden="true">
                <p class="inline"><a href="{{temp.website}}">{{temp.website}} </a></p></span>
            </div>
            <div class="col-5">
                <span class="fa fa-phone" aria-hidden="true"><p class="inline"> {{temp.phone}} </p></span>
            </div>
        </div>
        <p class="pad-top">{{temp.company.description}} </p>
            <h6 class="text-blue">Hours: <span class="fa fa-clock-o" aria-hidden="true"></span></h6>
            <div style="padding: 5px; border-radius: 3px">
                {{#each temp.hours}}
                <p>{{this}}</p>
                {{/each}}
            </div>
    </div>
    <div class="col-lg-3 col-12 text-center">
        <a href="/quotelist">
            <button class="btn btn-primary" type="submit">All Set? Request Bids
            </button>
        </a>
        <h5 class="text-yellow mt-4"><b>Tag An Event Below</b></h5>
        <div class="contactSide mb-4 text-left">
            {{#if loggedin}}
                <h6 class="text-yellow mb-3"><b>My Events </b><span class="fa fa-heart" aria-hidden="true"></span></h6>
                <form class="form-inline text-right" action="/addEvent?placeId={{temp.placeId}}" method="post">
                    <div class="form-group-row">
                        <div class="row">
                            <div class="col-12">
                              <input type="text" name=event class="form-control" placeholder="Your Event">
                              <input type=hidden name=name value="{{temp.name}}">
                              <input type=hidden name=profile value="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-2">
                              <input class="btn btn-primary inline" type="submit" value="Add">
                            </div>
                        </div>
                    </div>
                </form>
                {{#each events}}
                    <form action="/addVenue" method="get" class="row taggedEvent">
                        <input type=hidden class="form-control" name=eventId value="{{this._id}}">
                        <input type=hidden class="form-control" name=placeId value="{{../temp.placeId}}">
                        <input type=hidden class="form-control" name=name value="{{../temp.name}}">
                        <input type=hidden class="form-control" name=profile value="{{../temp.phone}}">
                        <input type=submit class="col-10 form-control btn-transparent" name=eventName value="{{this.name}}">
                    </form>
                    {{#if this.vEvent}}
                        {{#each this.vEvent}}
                            <p class="ml-2">{{this.name}}</p>
                        {{/each}}
                    {{/if}}
                {{/each}}
            {{else}}
                <h6 class="text-yellow mb-3"><b>Please <a href="/login">login</a> to create or view your events</b></h6>
            {{/if}}
        </div>
    </div>
    <div class="col-lg-4 col-12 mb-4 section-light">
        <div id="venueMap"></div>
        <h6 class="text-blue text-center"><b>{{temp.address}}</b></h6>
    </div>
</div>

<script>
function initMap() {
    var uluru = {lat: {{temp.lat}}, lng: {{temp.lng}} };
    var map = new google.maps.Map(document.getElementById('venueMap'), {
        zoom: 12,
        center: uluru
    });
    var marker = new google.maps.Marker({
        position: uluru,
        map: map
    });
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7j6tBWnmcFm_nZOpXhX4rQSEGUAtxMC0&callback=initMap">
</script>
